
<app-header></app-header>



<section id="productSearchSection" class="background-grey section-custom">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2 i18n>SEARCH FOR PRODUCTS</h2>
            <span i18n class="lead">Look for the best price for your desired product</span>
        </div>
        
    </div>
</section>

<app-search></app-search>



<app-coockie></app-coockie>
<app-footer></app-footer>
<a id="scrollTop" style="bottom: 16px; opacity: 0;"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

