<div class="card">
    <div class="card-header">
        <span class="h4" i18n>Welcome {{firstName}} {{lastName}}</span>
        <p class="text-muted" i18n>Change your account password</p>
    </div>
    <div class="card-body">
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" i18n>First name</label>
                        <input class="form-control" type="text" disabled [value]="firstName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" i18n>Last Name</label>
                        <input class="form-control" type="text" disabled [value]="lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" i18n>Old password</label>
                        <input formControlName="oldPassword" class="form-control" type="password"  [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" >
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.required" i18n>Old password is required</div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" i18n>New password</label>
                        <input formControlName="newPassword" class="form-control" type="password"  [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" >
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required" i18n>New Password is required</div>
                            <div *ngIf="f.newPassword.errors.minlength" i18n>Password must be at least 6 characters</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" i18n>Confirm password</label>
                        <input formControlName="newPasswordConfirmation" class="form-control" type="password"  [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirmation.errors }" >
                        <div *ngIf="submitted && f.newPasswordConfirmation.errors" class="invalid-feedback">
                            <div *ngIf="f.newPasswordConfirmation.errors.required" i18n>Confirm Password is required</div>
                            <div *ngIf="f.newPasswordConfirmation.errors.mustMatch" i18n>Passwords must match</div>
                          </div>
                    </div>
                </div>
                <div  *ngIf="error" role="alert" class="alert alert-danger form-group col-md-12">  {{ error }} </div>
            </div>
            <div class="mt-4">
                <button type="button" class="btn btn-sm" type="submit" i18n>Update password</button>
            </div>
        </form>
    </div>
</div>